[submodule "swcarpentry/r-novice-inflammation"]
	branch = main
	path = swcarpentry/r-novice-inflammation
	url = https://github.com/swcarpentry/r-novice-inflammation/
[submodule "swcarpentry/r-novice-gapminder"]
	branch = main
	path = swcarpentry/r-novice-gapminder
	url = https://github.com/swcarpentry/r-novice-gapminder/
[submodule "datacarpentry/astronomy-python"]
	branch = gh-pages
	path = datacarpentry/astronomy-python
	url = https://github.com/datacarpentry/astronomy-python/
[submodule "datacarpentry/R-ecology-lesson"]
	branch = main
	path = datacarpentry/R-ecology-lesson
	url = https://github.com/datacarpentry/R-ecology-lesson/
[submodule "datacarpentry/wrangling-genomics"]
	branch = gh-pages
	path = datacarpentry/wrangling-genomics
	url = https://github.com/datacarpentry/wrangling-genomics/
[submodule "swcarpentry/shell-novice"]
	path = swcarpentry/shell-novice
	url = https://github.com/swcarpentry/shell-novice/
	branch = gh-pages
[submodule "git-filter-repo"]
	path = git-filter-repo
	url = https://github.com/newren/git-filter-repo.git
[submodule "datacarpentry/OpenRefine-ecology-lesson"]
	path = datacarpentry/OpenRefine-ecology-lesson
	url = https://github.com/datacarpentry/OpenRefine-ecology-lesson/
	branch = gh-pages
[submodule "librarycarpentry/lc-shell"]
	path = librarycarpentry/lc-shell
	url = https://github.com/librarycarpentry/lc-shell/
	branch = gh-pages
[submodule "zkamvar/transition-test-2"]
	path = zkamvar/transition-test-2
	url = https://github.com/zkamvar/transition-test-2/
	branch = gh-pages
[submodule "librarycarpentry/lc-r"]
	path = librarycarpentry/lc-r
	url = https://github.com/librarycarpentry/lc-r/
	branch = main
[submodule "datacarpentry/organization-geospatial"]
	path = datacarpentry/organization-geospatial
	url = https://github.com/datacarpentry/organization-geospatial/
	branch = main
[submodule "datacarpentry/r-intro-geospatial"]
	path = datacarpentry/r-intro-geospatial
	url = https://github.com/datacarpentry/r-intro-geospatial/
	branch = main
[submodule "datacarpentry/geospatial-workshop"]
	path = datacarpentry/geospatial-workshop
	url = https://github.com/datacarpentry/geospatial-workshop/
	branch = gh-pages
[submodule "datacarpentry/sql-socialsci"]
	path = datacarpentry/sql-socialsci
	url = https://github.com/datacarpentry/sql-socialsci/
	branch = gh-pages
[submodule "swcarpentry/git-novice-es"]
	path = swcarpentry/git-novice-es
	url = https://github.com/swcarpentry/git-novice-es/
	branch = gh-pages
[submodule "swcarpentry/git-novice"]
	path = swcarpentry/git-novice
	url = https://github.com/swcarpentry/git-novice/
	branch = gh-pages
[submodule "swcarpentry/hpc-novice"]
	path = swcarpentry/hpc-novice
	url = https://github.com/swcarpentry/hpc-novice/
	branch = gh-pages
[submodule "swcarpentry/python-novice-gapminder"]
	path = swcarpentry/python-novice-gapminder
	url = https://github.com/swcarpentry/python-novice-gapminder/
	branch = gh-pages
[submodule "swcarpentry/r-novice-gapminder-es"]
	path = swcarpentry/r-novice-gapminder-es
	url = https://github.com/swcarpentry/r-novice-gapminder-es/
	branch = main
[submodule "swcarpentry/sql-novice-survey"]
	path = swcarpentry/sql-novice-survey
	url = https://github.com/swcarpentry/sql-novice-survey/
	branch = gh-pages
[submodule "datacarpentry/cloud-genomics"]
	path = datacarpentry/cloud-genomics
	url = https://github.com/datacarpentry/cloud-genomics/
	branch = gh-pages
[submodule "datacarpentry/genomics-r-intro"]
	path = datacarpentry/genomics-r-intro
	url = https://github.com/datacarpentry/genomics-r-intro/
	branch = main
[submodule "datacarpentry/openrefine-socialsci"]
	path = datacarpentry/openrefine-socialsci
	url = https://github.com/datacarpentry/openrefine-socialsci/
	branch = gh-pages
[submodule "datacarpentry/organization-genomics"]
	path = datacarpentry/organization-genomics
	url = https://github.com/datacarpentry/organization-genomics/
	branch = gh-pages
[submodule "datacarpentry/python-ecology-lesson"]
	path = datacarpentry/python-ecology-lesson
	url = https://github.com/datacarpentry/python-ecology-lesson/
	branch = gh-pages
[submodule "datacarpentry/python-socialsci"]
	path = datacarpentry/python-socialsci
	url = https://github.com/datacarpentry/python-socialsci/
	branch = gh-pages
[submodule "datacarpentry/shell-genomics"]
	path = datacarpentry/shell-genomics
	url = https://github.com/datacarpentry/shell-genomics/
	branch = gh-pages
[submodule "datacarpentry/spreadsheet-ecology-lesson"]
	path = datacarpentry/spreadsheet-ecology-lesson
	url = https://github.com/datacarpentry/spreadsheet-ecology-lesson/
	branch = gh-pages
[submodule "datacarpentry/spreadsheets-socialsci"]
	path = datacarpentry/spreadsheets-socialsci
	url = https://github.com/datacarpentry/spreadsheets-socialsci/
	branch = gh-pages
[submodule "librarycarpentry/lc-data-intro"]
	path = librarycarpentry/lc-data-intro
	url = https://github.com/librarycarpentry/lc-data-intro/
	branch = gh-pages
[submodule "librarycarpentry/lc-open-refine"]
	path = librarycarpentry/lc-open-refine
	url = https://github.com/librarycarpentry/lc-open-refine/
	branch = gh-pages
[submodule "librarycarpentry/lc-python-intro"]
	path = librarycarpentry/lc-python-intro
	url = https://github.com/librarycarpentry/lc-python-intro/
	branch = gh-pages
[submodule "librarycarpentry/lc-sql"]
	path = librarycarpentry/lc-sql
	url = https://github.com/librarycarpentry/lc-sql/
	branch = gh-pages
[submodule "datacarpentry/ecology-workshop"]
	path = datacarpentry/ecology-workshop
	url = https://github.com/datacarpentry/ecology-workshop/
	branch = gh-pages
[submodule "datacarpentry/genomics-workshop"]
	path = datacarpentry/genomics-workshop
	url = https://github.com/datacarpentry/genomics-workshop/
	branch = gh-pages
[submodule "datacarpentry/socialsci-workshop"]
	path = datacarpentry/socialsci-workshop
	url = https://github.com/datacarpentry/socialsci-workshop/
	branch = gh-pages
[submodule "librarycarpentry/lc-overview"]
	path = librarycarpentry/lc-overview
	url = https://github.com/librarycarpentry/lc-overview/
	branch = gh-pages
