[submodule "swcarpentry/r-novice-inflammation"]
	branch = main
	path = swcarpentry/r-novice-inflammation
	url = https://github.com/swcarpentry/r-novice-inflammation/
[submodule "swcarpentry/python-novice-inflammation"]
	branch = gh-pages
	path = swcarpentry/python-novice-inflammation
	url = https://github.com/swcarpentry/python-novice-inflammation/
[submodule "swcarpentry/r-novice-gapminder"]
	branch = main
	path = swcarpentry/r-novice-gapminder
	url = https://github.com/swcarpentry/r-novice-gapminder/
[submodule "datacarpentry/astronomy-python"]
	branch = gh-pages
	path = datacarpentry/astronomy-python
	url = https://github.com/datacarpentry/astronomy-python/
[submodule "datacarpentry/R-ecology-lesson"]
	branch = main
	path = datacarpentry/R-ecology-lesson
	url = https://github.com/datacarpentry/R-ecology-lesson/
[submodule "carpentries-incubator/python-packaging-publishing"]
	branch = gh-pages
	path = carpentries-incubator/python-packaging-publishing
	url = https://github.com/carpentries-incubator/python-packaging-publishing/
[submodule "carpentries-incubator/docker-introduction"]
	branch = gh-pages
	path = carpentries-incubator/docker-introduction
	url = https://github.com/carpentries-incubator/docker-introduction/
[submodule "carpentries-incubator/citable-software"]
	branch = gh-pages
	path = carpentries-incubator/citable-software
	url = https://github.com/carpentries-incubator/citable-software/
[submodule "datacarpentry/wrangling-genomics"]
	branch = gh-pages
	path = datacarpentry/wrangling-genomics
	url = https://github.com/datacarpentry/wrangling-genomics/
[submodule "swcarpentry/shell-novice"]
	path = swcarpentry/shell-novice
	url = https://github.com/swcarpentry/shell-novice/
	branch = gh-pages
[submodule "git-filter-repo"]
	path = git-filter-repo
	url = https://github.com/newren/git-filter-repo.git
[submodule "datacarpentry/OpenRefine-ecology-lesson"]
	path = datacarpentry/OpenRefine-ecology-lesson
	url = https://github.com/datacarpentry/OpenRefine-ecology-lesson/
	branch = gh-pages
[submodule "librarycarpentry/lc-shell"]
	path = librarycarpentry/lc-shell
	url = https://github.com/librarycarpentry/lc-shell/
	branch = gh-pages
[submodule "zkamvar/transition-test-2"]
	path = zkamvar/transition-test-2
	url = https://github.com/zkamvar/transition-test-2/
	branch = gh-pages
[submodule "datacarpentry/sql-ecology-lesson"]
	path = datacarpentry/sql-ecology-lesson
	url = https://github.com/datacarpentry/sql-ecology-lesson/
	branch = gh-pages
[submodule "librarycarpentry/lc-r"]
	path = librarycarpentry/lc-r
	url = https://github.com/librarycarpentry/lc-r/
	branch = main
[submodule "datacarpentry/organization-geospatial"]
	path = datacarpentry/organization-geospatial
	url = https://github.com/datacarpentry/organization-geospatial/
	branch = main
[submodule "datacarpentry/r-intro-geospatial"]
	path = datacarpentry/r-intro-geospatial
	url = https://github.com/datacarpentry/r-intro-geospatial/
	branch = main
[submodule "datacarpentry/geospatial-workshop"]
	path = datacarpentry/geospatial-workshop
	url = https://github.com/datacarpentry/geospatial-workshop/
	branch = gh-pages
[submodule "datacarpentry/sql-socialsci"]
	path = datacarpentry/sql-socialsci
	url = https://github.com/datacarpentry/sql-socialsci/
	branch = gh-pages
