[submodule "swcarpentry/r-novice-inflammation"]
	branch = main
	path = swcarpentry/r-novice-inflammation
	url = https://github.com/swcarpentry/r-novice-inflammation
[submodule "swcarpentry/python-novice-inflammation"]
	branch = gh-pages
	path = swcarpentry/python-novice-inflammation
	url = https://github.com/swcarpentry/python-novice-inflammation/
[submodule "swcarpentry/r-novice-gapminder"]
	branch = main
	path = swcarpentry/r-novice-gapminder
	url = https://github.com/swcarpentry/r-novice-gapminder/
[submodule "datacarpentry/astronomy-python"]
	branch = gh-pages
	path = datacarpentry/astronomy-python
	url = https://github.com/datacarpentry/astronomy-python/
[submodule "datacarpentry/R-ecology-lesson"]
	branch = main
	path = datacarpentry/R-ecology-lesson
	url = https://github.com/datacarpentry/R-ecology-lesson/
[submodule "carpentries-incubator/python-packaging-publishing"]
	branch = gh-pages
	path = carpentries-incubator/python-packaging-publishing
	url = https://github.com/carpentries-incubator/python-packaging-publishing/
[submodule "carpentries-incubator/docker-introduction"]
	branch = gh-pages
	path = carpentries-incubator/docker-introduction
	url = https://github.com/carpentries-incubator/docker-introduction/
[submodule "carpentries-incubator/citable-software"]
	branch = gh-pages
	path = carpentries-incubator/citable-software
	url = https://github.com/carpentries-incubator/citable-software/
[submodule "carpentries-incubator/jekyll-pages-novice"]
	branch = gh-pages
	path = carpentries-incubator/jekyll-pages-novice
	url = https://github.com/carpentries-incubator/jekyll-pages-novice/
[submodule "datacarpentry/wrangling-genomics"]
	branch = gh-pages
	path = datacarpentry/wrangling-genomics
	url = https://github.com/datacarpentry/wrangling-genomics/
[submodule "carpentries-incubator/simple-linear-regression-public-health"]
	branch = main
	path = carpentries-incubator/simple-linear-regression-public-health
	url = https://github.com/carpentries-incubator/simple-linear-regression-public-health/
[submodule "carpentries-incubator/SDC-BIDS-dMRI"]
	branch = main
	path = carpentries-incubator/SDC-BIDS-dMRI
	url = https://github.com/carpentries-incubator/SDC-BIDS-dMRI/
[submodule "datacarpentry/r-raster-vector-geospatial"]
	branch = main
	path = datacarpentry/r-raster-vector-geospatial
	url = https://github.com/datacarpentry/r-raster-vector-geospatial/
[submodule "carpentries/instructor-training"]
	path = carpentries/instructor-training
	url = https://github.com/carpentries/instructor-training/
	branch = main
[submodule "carpentries-incubator/SDC-BIDS-sMRI"]
	path = carpentries-incubator/SDC-BIDS-sMRI
	url = https://github.com/carpentries-incubator/SDC-BIDS-sMRI/
	branch = gh-pages
[submodule "carpentries-incubator/SDC-BIDS-IntroMRI"]
	path = carpentries-incubator/SDC-BIDS-IntroMRI
	url = https://github.com/carpentries-incubator/SDC-BIDS-IntroMRI/
	branch = gh-pages
[submodule "carpentries-incubator/SDC-BIDS-fMRI"]
	path = carpentries-incubator/SDC-BIDS-fMRI
	url = https://github.com/carpentries-incubator/SDC-BIDS-fMRI/
	branch = gh-pages
[submodule "datacarpentry/r-socialsci"]
	path = datacarpentry/r-socialsci
	url = https://github.com/datacarpentry/r-socialsci/
	branch = main
[submodule "swcarpentry/shell-novice"]
	path = swcarpentry/shell-novice
	url = https://github.com/swcarpentry/shell-novice/
	branch = gh-pages
[submodule "git-filter-repo"]
	path = git-filter-repo
	url = https://github.com/newren/git-filter-repo.git
[submodule "carpentries-incubator/bioc-project"]
	path = carpentries-incubator/bioc-project
	url = https://github.com/carpentries-incubator/bioc-project/
	branch = main
[submodule "carpentries-incubator/bioc-intro"]
	path = carpentries-incubator/bioc-intro
	url = https://github.com/carpentries-incubator/bioc-intro/
	branch = main
[submodule "carpentries-incubator/bioc-rnaseq"]
	path = carpentries-incubator/bioc-rnaseq
	url = https://github.com/carpentries-incubator/bioc-rnaseq/
	branch = main
[submodule "datacarpentry/python-ecology-lesson-es"]
	path = datacarpentry/python-ecology-lesson-es
	url = https://github.com/datacarpentry/python-ecology-lesson-es/
	branch = main
[submodule "datacarpentry/OpenRefine-ecology-lesson"]
	path = datacarpentry/OpenRefine-ecology-lesson
	url = https://github.com/datacarpentry/OpenRefine-ecology-lesson/
	branch = gh-pages
[submodule "librarycarpentry/lc-shell"]
	path = librarycarpentry/lc-shell
	url = https://github.com/librarycarpentry/lc-shell/
	branch = gh-pages
[submodule "zkamvar/transition-test-2"]
	path = zkamvar/transition-test-2
	url = https://github.com/zkamvar/transition-test-2/
	branch = gh-pages
[submodule "fishtree-attempt/znk-transition-test"]
	path = fishtree-attempt/znk-transition-test
	url = https://github.com/fishtree-attempt/znk-transition-test/
	branch = gh-pages
[submodule "carpentries/maintainer-onboarding"]
	path = carpentries/maintainer-onboarding
	url = https://github.com/carpentries/maintainer-onboarding/
	branch = gh-pages
[submodule "carpentries-incubator/managing-computational-projects"]
	path = carpentries-incubator/managing-computational-projects
	url = https://github.com/carpentries-incubator/managing-computational-projects/
	branch = gh-pages
